USE [master]
GO
/****** Object:  Database [GestorGastosDB]    Script Date: 30/7/2026 3:56:11 p. m. ******/
CREATE DATABASE [GestorGastosDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GestorGastosDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\GestorGastosDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GestorGastosDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\GestorGastosDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GestorGastosDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GestorGastosDB]
GO
/****** Object:  Table [dbo].[Gastos]    Script Date: 30/7/2026 3:56:11 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gastos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](150) NOT NULL,
	[Categoria] [nvarchar](50) NOT NULL,
	[Monto] [decimal](10, 2) NOT NULL,
	[Fecha] [date] NOT NULL,
	[MetodoPago] [nvarchar](50) NOT NULL,
	[Nota] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Gastos] ON 

INSERT [dbo].[Gastos] ([Id], [Descripcion], [Categoria], [Monto], [Fecha], [MetodoPago], [Nota]) VALUES (2, N'Pago de luz', N'Servicios', CAST(4500.00 AS Decimal(10, 2)), CAST(N'2026-07-29' AS Date), N'Efectivo', N'Factura mensual')
SET IDENTITY_INSERT [dbo].[Gastos] OFF
GO
USE [master]
GO
